<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD_Create</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
</head>
<body>
    <h1>CRUD_Create</h1>

    <div class="all">
        <form action="addData" method="POST" autocomplete="off">
            {% csrf_token %}
            <label for="name">NAME : </label>
            <input type="text" name="name"><br><br>

            <label for="name">Age : </label>
            <input type="number" name="age"><br><br>

            <label for="name">Email : </label>
            <input type="email" name="email"><br><br>

            <input type="submit" value="submit">

        </form>
    </div>
</body>
</html>